In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/loja_livro_filmes.csv')

## Preparar os dados
# Agrupar a soma das unidades por pais e ordenar os valores
df_paises = df.groupby(['pais'])['unidades'].sum().nlargest(9).copy()
df_paises = df_paises.reset_index()

# Alterar os nomes das colunas e ajustar o ranqueamento
df_paises.columns = ['País', 'Unidades pedidas']
df_paises['Rank'] = df_paises.index + 1
df_paises.set_index('Rank', inplace=True)
df_paises

## Criar a visualização
s_pais = df_paises.style
# Formatar o texto para adicionar a unidade de medida
s_pais = s_pais.format({'Unidades pedidas': '{} prod'})
s_pais